body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* sensor sempre embaixo */
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #343434;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

/* Inputs agora empilhados verticalmente */
.inputs-container {
  position: fixed;       /* fixa na tela */
  bottom: 420px;         /* ajusta para ficar acima do canvas */
  left: 50%;
  transform: translateX(-72%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1;            /* acima do canvas */
  width: 220px;
}

.input-box {
  background: #49484c8e; /* transparente esbranquiçado */
  backdrop-filter: blur(10px); /* efeito vidro */
  -webkit-backdrop-filter: blur(10px); /* suporte Safari */
  border-radius: 100px; /* bordas arredondadas */
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.5px;
  width: 130%;
  align-items: center;
  border: 1px solid rgba(25, 26, 26, 0.2); /* leve contorno para destacar */
}

.input-box h3 {
  margin: 0 0 10px 0;
  font-size: 16px;
  text-align: center;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 100px;
  text-align: center;
}

button {
  padding: 5px 20px;
  border-radius: 50px;
  border: none;
  background: #1900ff59;
  color: #ffffff60;
  cursor: pointer;
}

button:hover {
  background: #8e8e8e;
}

canvas {
  position: fixed; /* fixa na tela */
  bottom: -100px; /* valor negativo faz ele “vazar” para fora da tela */
  left: 50%; /* centraliza horizontalmente */
  transform: translateX(-50%);
  z-index: -1; /* atrás dos inputs */
  width: 500px; /* largura do canvas */
  height: 600px; /* altura do canvas */
  background: transparent;z
  
