body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: white;
}

/* Fundo Galáxia */
#galaxy {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

/* Sensor como imagem */
.sensor-image {
  position: fixed;
  bottom: -150px; /* "vaza" um pouco para fora */
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  max-width: 450px;
  min-width: 450px;

  z-index: -1;
}

/* Inputs fixos acima do sensor */
.inputs-container {
  position: fixed;
  bottom: 300px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: -1;
  width: 50vw;
  max-width: 300px;
  min-width: 200px;
}

.input-box {
  background: rgba(108, 24, 198, 0.11);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
  padding: 20px;
  text-align: center;
}

.input-box h3 {
  margin:0 10px;
  font-size: 15px;
  font-weight: normal;
  color:whitelight;
  padding-bottom: 0px;
}

.input-box input {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  text-align: center;;
  background: rgba(27, 2, 2, 0.28);
}
button {
  --border-radius: 50px;
  --border-width: 10px;
  appearance: none;
  position: relative;
  padding:10px;
  border: 50px;
  background-color: #1502020a;
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 40;
  color: #ffffffd0;
  cursor: pointer;
  border-radius: var(--border-radius);
  overflow: hidden;
  z-index: -1;
}

button::after {
  --m-i: linear-gradient(#000, #000000ff);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(
    #fb48fbff,
    #29dbbc,
    #ddf505,
    #ff9f0e,
    #e440bb,
    #655adc,
    #488cfb
  );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 700ms infinite;
  animation-play-state: ;
}

button:hover::after {
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

button,
button::after {
  box-sizing: border-box;
}

button:active {
  --border-width: 50px;
}

/* Telas muito pequenas (até 480px, celular em pé) */
@media (max-width: 375px) {
  .inputs-container {
    padding: none;
    margin-top: none;
    margin-bottom: 290px;
    bottom: 1px;
    width: 70vw;
    gap: 2px;
  }

  #sensor-img {
    width: 40vw;
  }
}
body {
  font-size: 14px;
  padding: 0 20px;
  margin-bottom: 80px;
}
  @media (max-width: 375px) {
    .input-box input {
      margin-top: none;
      margin-bottom: 400;
      width: 100px;
      padding: 1px;
      border-radius: 30px;
      font-size: 11px;
    }
  }
}
