body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* sensor sempre embaixo */
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #343434;
  font-family: Arial, sans-serif;
  color: #fff;
}

/* Inputs agora empilhados verticalmente */
.inputs-container {
  display: flex;
  flex-direction: column; /* vertical */
  gap: 15px;
  margin-bottom: -90px; /* espaço acima do sensor */
  width: 220px; /* largura fixa dos retângulos */
  align-items: center;
}

.input-box {
  background: #49484c8e; /* transparente esbranquiçado */
  backdrop-filter: blur(10px); /* efeito vidro */
  -webkit-backdrop-filter: blur(10px); /* suporte Safari */
  border-radius: 100px; /* bordas arredondadas */
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.5px;
  width: 130%;
  align-items: center;
  border: 1px solid rgba(25, 26, 26, 0.2); /* leve contorno para destacar */
}

.input-box h3 {
  margin: 0 0 10px 0;
  font-size: 16px;
  text-align: center;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 100px;
  text-align: center;
}

button {
  padding: 5px 20px;
  border-radius: 50px;
  border: none;
  background: #1900ff59;
  color: #ffffff60;
  cursor: pointer;
}

button:hover {
  background: #8e8e8e;
}

canvas {
  background: transparent;
  margin-bottom: 10px; /* pequeno espaçamento abaixo dos inputs */
}
